html
body {
  color: rgb(81, 78, 78);
    background-image: url("stefan-gall-sF4RV2lDtW0-unsplash.jpg");
    background-attachment:scroll;
    background-size:cover;
    background-repeat:no-repeat;
text-shadow:  2px 2px rgb(5, 65, 90);}

     
    
      
      .container {  display: grid;
        grid-template-columns: 0.6fr 1.4fr 0.5fr;
        grid-template-rows: 0.5fr 0.8fr 0.6fr 2.8fr 0.3fr 0.2fr;
        gap: 2px 2px;
        grid-auto-flow: row;
        grid-template-areas:
          "SPJII Menu Menu"
          "Photo . ."
          "Photo Greetings News"
          "Skills Bio News"
          "Skills Languages- News"
          "Footer Footer Footer";
          text-align: center;}
          /* kinda my logo in a way */
      .SPJII { grid-area: SPJII; background-color:  rgba(5, 70, 100, 0.75);text-align: center; vertical-align: middle;  display: grid;
        color: rgb(255, 255, 255);
      text-align: center;   align-items: center;
      justify-content: center; font-size: xx-large; font-weight: bold;}
      
            
      .container * {
        
        position: relative;}
      .Menu {  display: grid;
        color: rgb(220, 246, 255);
      text-align: center;
      
            content:attr(class);
            
            align-items: center;
            justify-content: center;
          /* top bar were you click */
 background-color: rgba(5, 70, 100, 0.75);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Resume Projects Contact-me"
          "Resume Projects Contact-me"
          "Resume Projects Contact-me";
        grid-area: Menu;
      font-weight: bold;}
      
      .Resume { grid-area: Resume; text-align:center; }

      .Projects { grid-area: Projects; }
      
      .Contact-me { grid-area: Contact-me; text-align: left;}
      
      .Photo { grid-area: Photo; background-color: rgb(10, 100, 140);}
      .Photo1 { grid-area: Photo; background-color: rgb(10, 100, 140); background-image: url("work\ photo.jpeg");background-position: center; background-size:cover; border-radius: 20%;width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       ;}
       /* what I'm good at... kinda lol */
      .Skills {  display: grid; background-color: rgba(10, 101, 140, 0.8);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Skills-1 Skills-1 Skills-1"
          "Skills-1 Skills-1 Skills-1"
          "Html Html Html"
          "Html Html Html"
          "Css Css Css"
          "Css Css Css"
          "JavaScript- JavaScript- JavaScript-"
          "JavaScript- JavaScript- JavaScript-"
          "React React React"
          "React React React"
          "SQL SQL SQL"
          "SQL SQL SQL"
          "Python- Python- Python-"
          "Python- Python- Python-"
          "Design Design Design"
          "Design Design Design";
          grid-area: Skills;text-align: center; vertical-align: middle;  display: grid;
          color: rgb(202, 255, 254);
        text-align: center;   align-items: center;
        justify-content: center; }
        

      .Skills-1 { grid-area: Skills-1; font-size: x-large; font-weight: bolder; }
      
      .Html { grid-area: Html; }
      
      .Css { grid-area: Css; }
      
      .JavaScript- { grid-area: JavaScript-; }
      
      .React { grid-area: React; }
      
      .SQL { grid-area: SQL; }
      
      .Python- { grid-area: Python-; }
      
      .Design { grid-area: Design; }
      /* Current projects */
      .News {  display: grid; background-color: rgba(10, 101, 140, 0.7);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "News-1 News-1 News-1"
          "News-2 News-2 News-2"
          "News-3 News-3 News-3";
        grid-area: News;
      }
      
      .News-1 {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.7fr 1.3fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Title-1 Title-1 Title-1"
          ". . ."
          ". . .";
        grid-area: News-1;
      }
      
      .Title-1 { grid-area: Title-1; }
      
      .News-2 {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Title-2 Title-2 Title-2"
          ". . ."
          ". . .";
        grid-area: News-2;
      }
      
      .Title-2 { grid-area: Title-2; }
      
      .News-3 {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "Tittle-3 Tittle-3 Tittle-3"
          ". . ."
          ". . .";
        grid-area: News-3;
      }
      
      .Tittle-3 { grid-area: Tittle-3; }
      /* choose a language to view in */
      .Languages- {  display: grid; background-color: rgba(0, 78, 112, 0.85);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
        grid-area: Languages-;
      }
      /* Bottom of the page */
      .Footer { grid-area: Footer;background-color:rgb(5, 65, 90); }
      /* my Bio is Resume summary */
      .Bio {  display: grid; background-color: rgba(5, 51, 70, 0.85);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "First First First"
          "Second Second Second"
          "Second Second Second"
          "Third Third Third"
          "Forth Forth Forth";
        grid-area: Bio;text-align: center; vertical-align: middle;  display: grid;
        color: rgb(203, 252, 255);
      text-align: center;   align-items:flex-end;
      justify-content: center; font-size:medium; 
      }
      
      .First { grid-area: First; }
      
      .Second { grid-area: Second; }
      
      .Third { grid-area: Third; }
      
      .Forth { grid-area: Forth; }
      
    
     /* My Greeting */
            .Greetings {  display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                  ". . ."
                  "Hi Hi Hi"
                  "welcome welcome welcome";
                grid-area: Greetings;
                color: rgb(222, 247, 255);
                font-size: xx-large; text-align:center;align-items: center;
                justify-content: center; font-weight: bold;}
              
              .welcome { grid-area: welcome; }
              
              .Hi { grid-area: Hi; }
      
      
      html, body , .container {
        height: 100%;
        margin: 0;
      }
      
        
      
      
      